@use '@shared/styles/variables' as v;
@use "@shared/styles/functions" as f;

@import '@shared/styles/global/grid-layout';

$colors: (
        "black": #282828,
        "white": #fefefe,
        "primary": #176B87,
        "blue": #86B6F6,
        "blue-light": #B4D4FF,
        "ghost": #EEF5FF,
        "red": #ff4747,
);

:root {
  @if $colors {
    @each $key, $value in $colors {
      --color-#{$key} : #{$value};
      --color-#{$key}--rgb: #{f.hexToRGB($value)};
    }
  }

  --bg-primary: var(--color-white);
  --bg-ghost: var(--color-ghost);

  --bg-overlay: rgba(40, 40, 40, 0.2);

  --text-primary: var(--color-black);
  --text-secondary: #1d1d1d;


  --font-size-default: 16px;

  --size-step: 8px;

  --radius-default: 6px;
  --radius-lg: 8px;

  --media-mobile: v.$media-mobile;
  --media-tablet: v.$media-tablet;
  --media-laptop: v.$media-laptop;
  --media-desktop-sm: v.$media-desktop-sm;
  --media-desktop-md: v.$media-desktop-md;
  --media-desktop-lg: v.$media-desktop-lg;

  --grid-padding: 1rem;
  --content-max-width: 1280px;
  --breakout-max-width: 1440px;

  --z-sidebar: 1000;
  --z-sidebar-overlay: 999;

  --transition-default: 0.2s cubic-bezier(.83, .21, .68, .73);

  --shadow-default: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);

  --shadow-menu: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-height: 100dvh;
  font-family: 'Inter Variable', 'Arial', sans-serif;
  overflow: hidden;
  background-color: var(--bg-primary);
}

#root {
  display: flex;
  min-height: 100vh;
}
