@use "@shared/styles/functions" as f;
@use "@shared/styles/mixins" as m;

.userMenu {
  ul {
    @include m.listReset;
    display: flex;
    flex-direction: column;
    row-gap: f.size(1);
    padding: f.size(1) 0;
    min-width: 140px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-menu);
    border-radius: var(--radius-default);

    @include m.media-tablet {
      left: -140px !important;
    }
  }
}

.userMenuItem {
  padding: f.size(1) f.size(2);
  cursor: pointer;
  transition: background 0.2s ease-in-out, opacity 0.1s ease-in-out;

  &:hover {
    background-color: var(--color-ghost);
  }

  &:active {
    opacity: 0.7;
  }
}
