@use "@shared/styles/functions" as f;
@use "@shared/styles/mixins" as m;

.header {
  min-height: f.size(7);
  grid-column: 1 / 4;
  border-bottom: 1px solid f.color(black, 0.2);
}

.headerInner {
  display: flex;
  align-items: center;

  @include m.media-tablet {
    flex-direction: row-reverse;
  }
}

.toggleButton {
  @include m.buttonReset;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 40px;
  height: 40px;

  @include m.media-tablet {
    display: none;
  }
}
