@use "@shared/styles/functions" as f;

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: var(--radius-default);
  border: 1px solid f.color(black, 0.2);
  overflow-y: auto;
}

.chatInner {
  & > div:first-child {
    display: flex;
    flex-direction: column-reverse;
    row-gap: f.size(3);
    padding: f.size(2);
  }
}

.message {
  display: flex;
  align-items: flex-end;
  column-gap: f.size(1);

  &.foreign {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
}

.messageText {
  display: flex;
  flex-direction: column;
  row-gap: f.size(1);
  padding: f.size(1);
  max-width: 600px;
  border-radius: var(--radius-lg);
  border-bottom-left-radius: 0;
  background-color: f.color(blue-light, 0.2);
  font-size: 0.9rem;

  p {
    margin: 0;
  }

  span {
    align-self: flex-end;
    font-size: 0.6rem;
    font-weight: 300;
    color: f.color(black, 0.7);
  }

  &.foreign {
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: 0;

    span {
      align-self: flex-start;
    }
  }
}
